

body {
	font-family: "Poppins", Merriweather;
	color: #212529;
}

a {
	color: #8A2BE2;
	text-decoration: none;
}

a:hover {
	color: #8A2BE2;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.font-primary {
	font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background: #8A2BE2;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 24px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #BA55D3;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
	[data-aos-delay] {
		transition-delay: 0 !important;
	}
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
	height: 72px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	background: #fff;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo h1 {
	font-size: 30px;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 2px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
	color: #7a6960;
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 45px;
}

#main {
	margin-top: 72px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/**
* Desktop Navigation 
*/

.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a,
.navbar a:focus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	font-size: 15px;
	color: #4e4039;
	white-space: nowrap;
	transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
	color: #8A2BE2;
}

.navbar .getstarted,
.navbar .getstarted:focus {
	background: purple;
	color: #fff;
	padding: 10px 25px;
	margin-left: 30px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
	color: #fff;
	background: #BA55D3;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 14px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 15px;
	text-transform: none;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
	color: #8A2BE2;
}

.navbar .dropdown:hover>ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}
	.navbar .dropdown .dropdown:hover>ul {
		left: -100%;
	}
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
	color: #7a6960;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
	color: #fff;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(78, 64, 57, 0.9);
	transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #7a6960;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
	color: #8A2BE2;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
	margin: 15px;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
	color: #8A2BE2;
}

.navbar-mobile .dropdown>.dropdown-active {
	display: block;
}


/*--------------------------------------------------------------
# intro Section
--------------------------------------------------------------*/

#intro {
	width: 100%;
	height: 70vh;
	background: #E6E6FA;
	border-bottom: 2px solid #fcebe3;
	margin: 72px 0 -72px 0;
}

#intro h1 {
	margin: 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: #4e4039;
}

#intro h2 {
	color: #8A2BE2;
	margin: 15px 0 0 0;
	font-size: 24px;
}

#intro .btn-get-started {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 8px 28px;
	border-radius: 3px;
	transition: 0.5s;
	margin-top: 30px;
	color: #fff;
	background: #8A2BE2;
}

#intro .btn-get-started:hover {
	background: red;
}

#intro .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
	#intro {
		height: calc(100vh - 72px);
	}
	#intro .animated {
		-webkit-animation: none;
		animation: none;
	}
	#intro .intro-img {
		text-align: center;
	}
	#intro .intro-img img {
		width: 50%;
	}
}

@media (max-width: 768px) {
	#intro h1 {
		font-size: 28px;
		line-height: 36px;
	}
	#intro h2 {
		font-size: 18px;
		line-height: 24px;
	}
	#intro .intro-img img {
		width: 70%;
	}
}

@media (max-width: 575px) {
	#intro .intro-img img {
		width: 80%;
	}
}

@media (max-height: 600px) {
	#intro {
		height: 120vh;
	}
}

@-webkit-keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}

@keyframes up-down {
	0% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(-10px);
	}
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background-color: white;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 0;
	line-height: 1px;
	margin-bottom: 15px;
	color: #474747;
}

.section-title p {
	padding-bottom: 15px;
	margin-bottom: 15px;
	position: relative;
	font-size: 32px;
	font-weight: 700;
	color: #4e4039;
}

.section-title p::after {
	content: "";
	position: absolute;
	display: block;
	width: 60px;
	height: 2px;
	background: #8A2BE2;
	bottom: 0;
	left: calc(50% - 30px);
}


/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/

.breadcrumbs {
	padding: 15px 0;
	background-color: #D8BFD8;
	min-height: 40px;
}

.breadcrumbs h2 {
	font-size: 24px;
	font-weight: 300;
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

.breadcrumbs ol li+li {
	padding-left: 10px;
}

.breadcrumbs ol li+li::before {
	display: inline-block;
	padding-right: 10px;
	color: #68A4C4;
	content: "/";
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}
	.breadcrumbs ol {
		display: block;
	}
	.breadcrumbs ol li {
		display: inline-block;
	}
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about h3 {
	font-weight: 700;
	font-size: 34px;
	color: #4e4039;
}

.about h4 {
	font-size: 20px;
	font-weight: 700;
	margin-top: 5px;
	color: #7a6960;
}

.about i {
	font-size: 48px;
	margin-top: 15px;
	color: #8A2BE2;
}

.about p {
	font-size: 15px;
	color: #5a6570;
}

@media (max-width: 991px) {
	.about .about-img img {
		max-width: 70%;
	}
}

@media (max-width: 767px) {
	.about .about-img img {
		max-width: 90%;
	}
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
	background: #fff;
	padding: 0 0 30px 0;
	color: #212529;
	font-size: 14px;
	background: #E6E6FA;
}

#footer .footer-newsletter {
	padding: 50px 0;
	background: #E6E6FA;
	text-align: center;
	font-size: 15px;
}

#footer .footer-newsletter h4 {
	font-size: 24px;
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 1;
	font-weight: 600;
	color: #4e4039;
}

#footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 4px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	text-align: left;
}

#footer .footer-newsletter form input[type=email] {
	border: 0;
	padding: 4px 4px;
	width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #8A2BE2;
	color: #fff;
	transition: 0.3s;
	border-radius: 4px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
	background: #8A2BE2;
}

#footer .footer-top {
	padding: 60px 0 30px 0;
	background: #fff;
}

#footer .footer-top .footer-assignment_form {
	margin-bottom: 30px;
}

#footer .footer-top .footer-assignment_form h4 {
	font-size: 22px;
	margin: 0 0 30px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 700;
}

#footer .footer-top .footer-assignment_form p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Raleway", sans-serif;
	color: #5c5c5c;
}

#footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	color: #212529;
	position: relative;
	padding-bottom: 12px;
}

#footer .footer-top .footer-links {
	margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #8A2BE2;
	font-size: 18px;
	line-height: 1;
}

#footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
}

#footer .footer-top .footer-links ul a {
	color: #5c5c5c;
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
	text-decoration: none;
	color: #8A2BE2;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #8A2BE2;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: #8A2BE2;
	color: #fff;
	text-decoration: none;
}

#footer .copyright {
	text-align: center;
	float: left;
}

#footer .credits {
	float: right;
	text-align: center;
	font-size: 13px;
	color: #212529;
}

#footer .credits a {
	color: #8A2BE2;
}

@media (max-width: 575px) {
	#footer .copyright,
	#footer .credits {
		float: none;
		-moz-text-align-last: center;
		text-align-last: center;
		padding: 3px 0;
	}
}


/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/

.faq .faq-item {
	margin: 20px 0;
	padding: 20px 0;
	border-bottom: 1px solid #eeeeee;
}

.faq .faq-item i {
	color: #8A2BE2;
	font-size: 24px;
	float: left;
	line-height: 0;
	padding: 13px 0 0 0;
	margin: 0;
}

.faq .faq-item h4 {
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	margin: 0 0 10px 32px;
	font-family: "Poppins", sans-serif;
}

.faq .faq-item p {
	font-size: 15px;
}

.label--desc {
	font-size: 13px;
	color: #999;
	margin-top: 10px;
}

@media (max-width: 767px) {
	.label--desc {
		margin-top: 14px;
	}
}

.input-file {
	display: none;
}

.input-file+label {
	font-size: 15px;
	color: #fff;
	color: white;
	line-height: 40px;
	background-color: #8A2BE2;
	padding: 0 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	margin-right: 15px;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	cursor: pointer;
}

.input-file:focus+label,
.input-file+label:hover {
	background: #6038af;
}

.input-file__info {
	font-size: 15px;
	color: #666;
}

@media (max-width: 767px) {
	.input-file__info {
		display: block;
		margin-top: 6px;
	}
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
	padding-bottom: 30px;
}

.contact .info-box {
	color: #444;
	text-align: center;
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	padding: 20px 0 30px 0;
	margin-bottom: 30px;
}

.contact .info-box i {
	font-size: 32px;
	color: #8A2BE2;
	border-radius: 50%;
	padding: 8px;
	border: 2px solid #8A2BE2;
}

.contact .info-box h3 {
	font-size: 20px;
	color: #666;
	font-weight: 700;
	margin: 10px 0;
}

.contact .info-box p {
	padding: 0;
	line-height: 24px;
	font-size: 14px;
	margin-bottom: 0;
}

.contact .php-email-form {
	box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
	padding: 30px;
	margin-bottom: 30px;
}

.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: red;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .error-message br+br {
	margin-top: 25px;
}

.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #68A4C4;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #68A4C4;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
	background-color: #8A2BE2;
}

.contact .php-email-form input {
	padding: 10px 15px;
}

.contact .php-email-form textarea {
	padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
	background: #8A2BE2;
	border: 0;
	padding: 10px 24px;
	color: #fff;
	transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
	background: #D8BFD8;
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/*--------------------------------------------------------------
# assignment_form Us
--------------------------------------------------------------*/

.assignment_form .info {
	border-top: 3px solid #8A2BE2;
	border-bottom: 3px solid #8A2BE2;
	padding: 30px;
	background: #fff;
	width: 100%;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.assignment_form .info i {
	font-size: 20px;
	color: #8A2BE2;
	float: left;
	width: 44px;
	height: 44px;
	background: #fdf1ec;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.assignment_form .info h4 {
	padding: 0 0 0 60px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #7a6960;
}

.assignment_form .info p {
	padding: 0 0 10px 60px;
	margin-bottom: 20px;
	font-size: 14px;
	color: #ab9d95;
}

.assignment_form .info .email p {
	padding-top: 5px;
}

.assignment_form .info .social-links {
	padding-left: 60px;
}

.assignment_form .info .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #333;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
	margin-right: 10px;
}

.assignment_form .info .social-links a:hover {
	background: #8A2BE2;
	color: #fff;
}

.assignment_form .info .email:hover i,
.assignment_form .info .address:hover i,
.assignment_form .info .phone:hover i {
	background: #8A2BE2;
	color: #fff;
}

.assignment_form .php-email-form {
	width: 100%;
	border-top: 3px solid #8A2BE2;
	border-bottom: 3px solid #8A2BE2;
	padding: 30px;
	background: #fff;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.assignment_form .php-email-form .form-group {
	padding-bottom: 8px;
}

.assignment_form .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #8A2BE2;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.assignment_form .php-email-form .error-message br+br {
	margin-top: 25px;
}

.assignment_form .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.assignment_form .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

.assignment_form .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.assignment_form .php-email-form input,
.assignment_form .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

.assignment_form .php-email-form input {
	height: 44px;
}

.assignment_form .php-email-form textarea {
	padding: 10px 12px;
}

.assignment_form .php-email-form button[type=submit] {
	background: #8A2BE2;
	border: 0;
	padding: 10px 24px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
}

.assignment_form .php-email-form button[type=submit]:hover {
	background: #653bb9;
}

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
.team .member {
	position: relative;
	box-shadow: 0px 2px 15px rgba(85, 98, 112, 0.08);
	padding: 30px;
	border-radius: 4px;
	background: white;
  }
  .team .member .pic {
	overflow: hidden;
	width: 140px;
	border-radius: 4px;
  }
  .team .member .pic img {
	transition: ease-in-out 0.3s;
  }
  .team .member:hover img {
	transform: scale(1.1);
  }
  .team .member .member-info {
	padding-left: 80px;
  }
  .team .member h4 {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 20px;
	color: #556270;
  }
  .team .member span {
	display: block;
	font-size: 15px;
	padding-bottom: 10px;
	position: relative;
	font-weight: 500;
  }
  .team .member span::after {
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 1px;
	background: #dee2e6;
	bottom: 0;
	left: 0;
  }
  .team .member p {
	margin: 10px 0 0 0;
	font-size: 14px;
  }
  .team .member .social {
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
  }
  .team .member .social a {
	transition: ease-in-out 0.3s;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	width: 32px;
	height: 32px;
	background: #8795a4;
  }
  .team .member .social a i {
	color: #fff;
	font-size: 16px;
	margin: 0 2px;
  }
  .team .member .social a:hover {
	background: #d9232d;
  }
  .team .member .social a + a {
	margin-left: 8px;
  }
  
  mark {
	background-color: #00FF00;
	color: black;
	border-radius: 10%;
  }

  /*--------------------------------------------------------------
# profile_services
--------------------------------------------------------------*/
.profile_services {
	background: url("../img/breadcrumb-bg.jpg") center center no-repeat;
	background-size: cover;
	padding: 60px 0;
	position: relative;
  }
  .profile_services::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(166, 82, 221, 0.75);
	z-index: 9;
  }
  .profile_services .container {
	position: relative;
	z-index: 10;
  }
  .profile_services .content {
	padding: 30px 30px 30px 0;
  }
  .profile_services .content h3 {
	font-weight: 700;
	font-size: 34px;
	color: #fff;
	margin-bottom: 30px;
  }
  .profile_services .content p {
	margin-bottom: 30px;
  }
  .profile_services .content .profile_services-btn {
	display: inline-block;
	background: #fff;
	padding: 6px 44px 8px 30px;
	color: hsl(283, 59%, 56%);
	border-radius: 10px;
	transition: 0.3s;
	position: relative;
  }
  .profile_services .content .profile_services-btn i {
	font-size: 18px;
	position: absolute;
	right: 18px;
	top: 9px;
  }
  .profile_services .content .profile_services-btn:hover {
	background: purple;
  }
  .profile_services .icon-boxes .icon-box {
	margin-top: 30px;
  }
  .profile_services .icon-boxes .icon-box i {
	font-size: 40px;
	color: white;
	margin-bottom: 10px;
  }
  .profile_services .icon-boxes .icon-box h4 {
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 10px 0;
  }
  .profile_services .icon-boxes .icon-box p {
	font-size: 15px;
	color: white;
  }
  @media (max-width: 1200px) {
	.profile_services .content {
	  padding-right: 0;
	}
  }
  @media (max-width: 768px) {
	.profile_services {
	  text-align: center;
	}
  }
  
/*--------------------------------------------------------------
# Guarantee
--------------------------------------------------------------*/
.guarantee .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border-bottom: 3px solid #fff;
}
.guarantee .icon-box:hover {
  transform: translateY(-5px);
  border-color: #8A2BE2;
}
.guarantee .icon i {
  font-size: 48px;
  line-height: 1;
  margin-bottom: 15px;
  color: #8A2BE2;
}
.guarantee .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.guarantee .title a {
  color: #111;
}
.guarantee .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
